# Expo
.expo/
dist/
web-build/

# Node modules
node_modules/
npm-debug.log
yarn-error.log

# React Native
*.jks
*.p12
*.key
*.mobileprovision

# Android
android/app/build/
android/.gradle/
android/app/src/main/assets/

# iOS
ios/Pods/
ios/build/

# System
.DS_Store
Thumbs.db

# TypeScript
**/*.js.map
*.tsbuildinfo

# Local env
.env
.env.local

# Editor
.vscode/
.idea/

# Large Data Dumps (optional, keep if you want to commit the JSONs)
# src/data/oorepRemedies.json

# Temporary scripts
oorep_temp/
